@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-white antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-dark;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-dark-lighter rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
